{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-3 mb-3">
                {{ form_label(form.customer) }}
                {{ form_widget(form.customer, {'attr': {'class': 'form-control selectpicker', 'data-live-search': 'true'}}) }}
                {{ form_errors(form.customer) }}
            </div>
            <div class="col-12 col-md-3 mb-3">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="col-12 col-md-3 mb-3">
                {{ form_label(form.mark) }}
                {{ form_widget(form.mark, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.mark) }}
            </div>
            <div class="col-12 col-md-3 mb-3">
                {{ form_label(form.serial) }}
                {{ form_widget(form.serial, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.serial) }}
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-md-3 mb-3">
                {{ form_label(form.city) }}
                {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.city) }}
            </div>
            <div class="col-12 col-md-3 mb-3">
                {{ form_label(form.address) }}
                {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.address) }}
            </div>
            <div class="col-6 mb-3">
                {{ form_label(form.notes) }}
                {{ form_widget(form.notes, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.notes) }}
            </div>
        </div>
        

        
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{{ path('equipment_index') }}" class="btn btn-danger">Отмена</a>
    {{ form_end(form) }}
{% endblock %}
