{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <form method="post">
        <div class="mb-3">
            <label class="form-label">Название</label>
            <input type="text" name="name" class="form-control" maxlength="{{ maxLengthName }}" value="{{ customer.name }}" required>
        </div>
{#        <div class="mb-3">#}
{#            <label class="form-label">Parent ID</label>#}
{#            <input type="number" name="parentId" class="form-control" value="{{ customer.parentId }}">#}
{#        </div>#}
        <div class="mb-3">
            <label class="form-label">Доп. данные</label>
            <textarea name="data" class="form-control" rows="2" maxlength="{{ maxLengthData }}">{{ customer.data }}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{{ path('customer_index') }}" class="btn btn-danger">Отмена</a>
    </form>
{% endblock %}
