{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.data) }}
            {{ form_widget(form.data, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.data) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.parentId) }}
            {{ form_widget(form.parentId, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.parentId) }}
        </div>
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{{ path('customer_index') }}" class="btn btn-danger">Отмена</a>
    {{ form_end(form) }}
{% endblock %}
