{% extends 'base.html.twig' %}

{% block title %}Редактирование пользователя{% endblock %}

{% block body %}
    <h1>Редактирование «{{ user.username }}»</h1>

    {# применяем тему для этого конкретного шаблона, если нужно дополнительно #}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}

    {{ form_start(form) }}

    <div class="row mb-2">
        <div class="col-md-3">
            {{ form_label(form.username) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.username) }}
        </div>
        <div class="col-md-3">
            {{ form_label(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.password) }}
        </div>
        <div class="col-md-3">
            {{ form_label(form.roles) }}
            {% for child in form.roles %}
                <div class="form-check form-check-inline">
                    {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <br>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
